@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
ul {
    padding: 0;
}

div.main-page-container {
    display: grid;
    width: 1136px;
    grid-auto-rows: 1fr 300px 500px 500px;
    grid-template-areas:
                "best"
                "loc"
                "tr"
                "fd";
    margin: 0 auto;
    text-align: left;
}

.cf-best-container {
    margin-top: 30px;
    overflow: hidden;
    position: relative;
    grid-area: best;
}

.loc-container {
    grid-area: loc;
    margin-top: 30px;
}

.tr-container {
    grid-area: tr;
}

.fd-container {
    grid-area: fd;
}

.tit {
    margin-top: 40px;
    margin-bottom: 30px;
    height: 33px;
    line-height: 1.3;
    font-weight: 900;
    text-align: center;
}

.tit a {
    padding: 0 30px 0 0;
    font-size: 1.8rem;
}

.cf-img-box > img {
    object-fit: cover;
    width: 320px;
    height: 240px;
}

.cf-lk-box:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 0 -3px 0;
    background: url(../images/ico_lk.png) no-repeat;
}

.cf-star-box:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 0 -3px 0;
    background: url(../images/ico_star.png) no-repeat;
}


div.cf-info span::after {
    content: "|";
    color: #664400;
    opacity: 0.2;
}

i {
    font-style: normal;
}


a.cf-cont-box {
    display: block;
    padding: 23px;
    border-radius: 12px;
    border: 1px solid rgb(0 0 0 / 12%);
}

a.cf-cont-box .txt-info {
    margin-top: 0;
    padding-top: 16px;
    text-align: left;
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    box-sizing: border-box;
}

ul.swiper-wrapper li {
    list-style: none;
}


span.cf-txt {
    margin-top: 16px;
    margin-bottom: 16px;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 72px;
}

.swiper-pagination-bullet {
    margin: 0 5px !important;
}

.swiper-pagination-bullet-active {
    background-color: #664400 !important;
}


.quick-search {
    display: flex;
}

.quick-search a {
    display: block;
    min-width: 60px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: 50% 50% no-repeat;
    background-size: cover;
    position: relative;
    margin-right: 15px;
    white-space: pre-wrap;
}

.quick-search a:before {
    content: "";
    background: rgba(0, 0, 0, .4);
    mix-blend-mode: normal;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
}

.quick-search a .label {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-shadow: 0 0 2px rgb(0 0 0 / 60%);
    font-weight: 700;
    line-height: 14px;
    width: 90%;
    color: #fff;
    line-height: 18px;
}

div.swiper-wrapper {
    width: 950px;
    padding: 0;
}

li{
    list-style: none;
}

/*tr-container*/
div.tr-tit-box{
    display: grid;
    grid-template-columns: 1080px 50px ;
}
span.tr-tit{
    padding: 0 30px 0 0;
    font-size: 1.8rem;
}
span.tr-more-box{
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: right;
}
a.tr-more{
    color:gray;
    font-size: 20px;
}
div.tr-cont-box{
    margin-left: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
div.tr-card {
    width: 270px;
    height: 400px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-right: 10px;
}
div.tri-card {
    width: 270px;
    overflow: hidden;
    opacity: 0.7;
    background: 50% 50% no-repeat;
    padding: 10px 10px 10px 10px ;
    height: 270px;
    display: grid;
    grid-template-columns: 5fr 1fr ;
}

div.tr-cont-card{
    padding: 10px 10px 10px 10px;
}

span.tr-cont-tw-g{
    position: relative;
    top:7px;
    left:180px;
    text-align: center;
    padding: 15px 10px 10px 10px;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    box-sizing: border-box;
    background-color: yellowgreen;
    opacity: 1;
    color: white;
    font-size: 15px;
}
span.tr-cont-tw-r{
    position: relative;
    top:7px;
    left: 180px;
    text-align: center;
    padding: 15px 10px 10px 10px;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    box-sizing: border-box;
    background-color: orangered;
    opacity: 1;
    color: white;
    font-size: 15px;
}
.tr-cont-loc{
    position: absolute;
    margin-top: 5px;
    color: white;
    font-size: 0.8rem;
    margin-left: 3px;
    padding: 7px 10px 3px 7px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 100px;
}
.tr-cont-loc i{
    color: white;
    font-size: 15px;
    opacity: 1;
}
.tr-cont-tit{
    text-align: center;
    font-size: 1.5rem;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 15px;
}

img.tr-prf{
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
div.tr-cont-ur{
    font-size: 1rem;
}

div.tr-cont-date{
    margin-top: 10px;
    font-size: 1rem;
}
div.tr-cont-txt{
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    font-size: 1rem;
    margin-bottom: 15px;
}
.tr-card-hr{
    margin: 5px 0 10px 0;
}
div.tr-cont-bottom{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
div.tr-cont-bottom span{
    font-size: 1rem;
    color: gray;
}
div.tr-cont-bottom span svg{
    font-size: 1rem;
    color: gray;
}

/*fd-container*/
div.fd-tit-box{
    display: grid;
    grid-template-columns: 1080px 50px ;
}
span.fd-tit{
    padding: 0 30px 0 0;
    font-size: 1.8rem;
}
span.fd-more-box{
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: right;
}
a.fd-more{
    font-size: 20px;
    color:gray;
}
div.fd-cont-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}

.fd-lk-box{
    float: right;
}
.fd-lk-box:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 0 -1px 0;

    background: url(../images/ico_lk.png) no-repeat;
}
div.fd-cont-txt{
    height:45px;
    word-wrap:break-word;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    overflow: hidden;
    font-size: 15px;
    margin-top: 5px;
}
div.fd-more-box{
    float : right;
}

div.fd-card {
    width: 270px;
    height: 370px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 30px;
    background-color: white;
}

div.fd-card:hover {
    transform: scale(1.1);
}
div.fd-txt-area:hover {
    cursor: pointer;
}

div.fdi-nm {
    width: 100%;
    height: 255px;
    border-radius: 4px;
    background: 50% 50% no-repeat;
    background-size: cover;
    object-fit: cover;
    box-sizing: border-box;
    border: 1px solid #f1f1f1;
    margin-bottom: 10px;
}

.fd_cf_nm {
    position: absolute;
    margin-top: 8px;
    color: white;
    font-size: 0.8rem;
    margin-left: 5px;
    padding: 7px 10px 3px 7px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 100px;
}
#cf-loc{
    color: white;
    font-size: 12px;
}