<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bit.data.dao.CafeDao">
	<select id="selectCafe" parameterType="int" resultType="cfdto">
		SELECT * FROM cf WHERE cf_id=#{cf_id}
	</select>
	<select id="selectAllCafe" resultType="cfdto">
		SELECT * FROM cf ORDER BY cf_id ASC
	</select>
	<select id="selectSearchCafe" parameterType="String" resultType="cfdto">
		<if test="searchword==null">
			SELECT * FROM cf
		</if>
		<if test="searchword!=null">
			SELECT cf.cf_nm,cf.cf_id,cf.cf_tel,cf.open_time,cf.off_day,cf.loc_addr,cf.loc_ar,cf.loc_sigu,cf.loc_x,cf.loc_y,cf.cm_cnt,cf.ck_cnt,cf.menu,cf.cf_txt,ctg.cg_id,cg.cg_nm FROM cf AS cf LEFT JOIN cf_ctg_rel AS ctg ON cf.cf_id=ctg.cf_id LEFT JOIN cf_ctg AS cg on cg.cg_id=ctg.cg_id WHERE cf.cf_nm like concat ('%',#{searchword},'%') GROUP BY cf.cf_id
			UNION
			SELECT cf.cf_nm,cf.cf_id,cf.cf_tel,cf.open_time,cf.off_day,cf.loc_addr,cf.loc_ar,cf.loc_sigu,cf.loc_x,cf.loc_y,cf.cm_cnt,cf.ck_cnt,cf.menu,cf.cf_txt,ctg.cg_id,cg.cg_nm FROM cf AS cf LEFT JOIN cf_ctg_rel AS ctg ON cf.cf_id=ctg.cf_id LEFT JOIN cf_ctg AS cg on cg.cg_id=ctg.cg_id WHERE cf.loc_addr like concat ('%',#{searchword},'%') GROUP BY cf.cf_id
			UNION
			SELECT cf.cf_nm,cf.cf_id,cf.cf_tel,cf.open_time,cf.off_day,cf.loc_addr,cf.loc_ar,cf.loc_sigu,cf.loc_x,cf.loc_y,cf.cm_cnt,cf.ck_cnt,cf.menu,cf.cf_txt,ctg.cg_id,cg.cg_nm FROM cf AS cf LEFT JOIN cf_ctg_rel AS ctg ON cf.cf_id=ctg.cf_id LEFT JOIN cf_ctg AS cg on cg.cg_id=ctg.cg_id WHERE cg.cg_nm like concat ('%',#{searchword},'%') GROUP BY cf.cf_id
		</if>
	</select>
	<select id="selectTotalCount" parameterType='String' resultType="int">
		SELECT count(*) FROM cf
	</select>
	<select id="selectCkCntbyCfid" parameterType="int" resultType="int">
		SELECT count(*) FROM cf_lk WHERE cf_id=#{cf_id}
	</select>
	<insert id="insertCafeLike" parameterType="Map">
		INSERT INTO cf_lk VALUES (#{ur_id},#{cf_id})
	</insert>
	<select id="selectCKCntbyUridNCfid" parameterType="map" resultType="int">
		SELECT count(*) FROM cf_lk WHERE ur_id=#{ur_id} AND cf_id=#{cf_id}
	</select>
	<delete id="deleteCafeLike" parameterType="Map">
		DELETE FROM cf_lk WHERE ur_id=#{ur_id} AND cf_id=#{cf_id}
	</delete>
	<select id="selectCtgByCfid" parameterType="int" resultType="cgdto">
		SELECT cg.cg_nm FROM cf_ctg_rel cgr
			LEFT JOIN cf_ctg cg
				ON cg.cg_id= cgr.cg_id
		WHERE cf_id=#{cf_id}
	</select>
	<select id="selectAllCtg" resultType="cgdto">
		SELECT * FROM cf_ctg
	</select>
</mapper>