<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bit.data.dao.CafeCmtDao">
	<select id="selectCafeCmt" parameterType="int" resultType="cmdto">
		select cm.cm_id, cm.cf_id, cm.w_date, cm.star, cm.cm_txt, cm.rg, cm.rs, cm.rl, ur.ur_nk, ur.ur_id
		from cf_cmt cm
				 left join ur
						   on cm.ur_id=ur.ur_id
		where cm.cf_id = #{cf_id} and cm.rl = 0
		order by cm.w_date desc
	</select>
	<select id="selectCMOrder" parameterType="map" resultType="cmdto">
		select cm.cm_id, cm.cf_id, cm.w_date, cm.star, cm.cm_txt, cm.rg, cm.rs, cm.rl,ur.ur_nk, ur.ur_id, ur.ur_img
		from cf_cmt cm
				 left join ur
						   on cm.ur_id=ur.ur_id
		where cm.cf_id = #{cf_id} and cm.rl = #{rl}
		order by
		<choose>
			<when test="cm_order == 'date_desc'">cm.w_date desc</when>
			<when test="cm_order == 'date_asc'">cm.w_date asc</when>
			<when test="cm_order == 'star_desc'">cm.star desc</when>
			<when test="cm_order == 'star_asc'">cm.star asc</when>
		</choose>
	</select>
	<insert id="insertCafeCmt" parameterType="cmdto">
		INSERT INTO cf_cmt VALUES (#{cm_id}, #{cf_id}, #{ur_id}, #{cm_txt}, now(),#{rg},#{rs},#{rl}, #{star})
	</insert>
	<delete id="deleteCafeCmt" parameterType="int">
		DELETE FROM cf_cmt WHERE cm_id=#{cm_id}
	</delete>
	<update id="updateCafeCmt" parameterType="cmdto" >
		UPDATE cf_cmt SET cm_txt=#{cm_txt}, star=#{star} , w_date=now() WHERE cm_id=#{cm_id}
	</update>
	<select id="selectCafeCmtByCmid" parameterType="int" resultType="cmdto" >
		SELECT * FROM cf_cmt WHERE cm_id=#{cm_id}
	</select>
	<select id="selectMaxNum" resultType="int">
		SELECT ifnull(max(cm_id),0) FROM cf_cmt
	</select>
	<update id="updateRs" parameterType="map">
		UPDATE cf_cmt SET rs=rs+1 WHERE rg=#{rg} and rs>#{rs}
	</update>
	<select id="selectCMCntByCfid" parameterType="int" resultType="int">
		SELECT count(*) FROM cf_cmt WHERE cf_id=#{cf_id} and rl = 0
	</select>
	<select id="selectCMCntByRg" parameterType="int" resultType="int">
		SELECT count(*) FROM cf_cmt WHERE rg=#{cm_id}
	</select>
</mapper>

