<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bit.data.dao.CafeCmtDao">
	<select id="selectCafeCmt" parameterType="int" resultType="cmdto">
		SELECT * FROM cf_cmt WHERE cf_id=#{cf_id}
	</select>
	<insert id="insertCafeCmt" parameterType="cmdto">
		INSERT INTO cf_cmt VALUES (null, #{cf_id}, #{ur_id}, #{cm_txt}, now(),0,0,0, #{star})
	</insert>
</mapper>