<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bit.data.dao.ComTourDao">
    <insert id="insertTour" parameterType="ctdto">
        INSERT INTO tr values (null,#{ur_id},#{tr_nm},#{tr_txt},#{tr_pw},#{tr_loc},#{tw_max},
                               #{s_date},#{e_date},now(),now())
   </insert>
</mapper>

