<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bit.data.dao.ComTourAnsDao">
    <!--게시글 입력-->
    <insert id="insertAns" parameterType="ctadto">
        INSERT INTO tr_cmt values (null,#{ur_id},#{tr_id},#{tm_txt},now(),now(),#{rg},#{rs},#{rl})
    </insert>




</mapper>