<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bit.data.dao.ComTourDao">
   <!-- 게시글 입력-->
    <insert id="insertTour" parameterType="ctdto">
        INSERT INTO tr values (null,#{ur_id},#{tr_nm},#{tr_txt},#{tr_pw},#{tr_loc},#{tw_max},
                               #{s_date},#{e_date},now(),now(),#{tr_cmp})
    </insert>

    <!--게시글 전체 갯수-->
    <select id="getTotalCount" parameterType="Map" resultType="int">
        select count(*) from tr
        <if test="searchcolumn!=null and searchword!=null">
            where ${searchcolumn} like concat('%',#{searchword},'%')
        </if>
    </select>

    <!--게시글 정보-->
    <select id="getPagingList" parameterType="Map" resultType="ctdto">
       SELECT * FROM tr INNER JOIN ur ON tr.ur_id=ur.ur_id
        <if test="searchcolumn!=null and searchword!=null">
            where ${searchcolumn} like concat('%',#{searchword},'%')
        </if> order by tr_id desc
    </select>

    <select id="getUserData" parameterType="int" resultType="ctdto">
        select * from tr where tr_id=#{num}
    </select>

    <!--게시글 하나의 정보 가져오기-->
    <select id="selectByNum" parameterType="int" resultType="ctdto">
        SELECT * FROM tr INNER JOIN ur ON tr.ur_id=ur.ur_id where tr_id=#{tr_id}
    </select>
    <!--게시글(list페이지의) 지우기-->
    <delete id="deleteList" parameterType="int">
        delete from tr where tr_id=#{num}
    </delete>
    <!--게시글 수정-->
    <update id="updateList" parameterType="ctdto">
        update tr set tr_nm=#{tr_nm},tr_txt=#{tr_txt},tr_loc=#{tr_loc},s_date=#{s_date},e_date=#{e_date} where tr_id=#{tr_id}
    </update>

    <!--모집완료-->
    <update id="updatecrw" parameterType="Map">
        update tr set tr_cmp=#{tr_cmp} where tr_id=#{tr_id}
    </update>
    <!--참가 인원 구하기-->
    <select id="getCrwCount" parameterType="Map" resultType="int">
        select count(*) from tr_crw where ur_id=#{ur_id} and tr_id=#{tr_id}
    </select>
</mapper>

