<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bit.data.dao.ComTourPartDao">
    <insert id="insertPart" parameterType="ctpdto">
        insert into tr_crw values (#{ur_id},#{tr_id})
    </insert>

    <!--참여인원 대한 정보 리턴 영역-->
    <select id="selectAllPartData" parameterType="int" resultType="ctpdto">
        SELECT * FROM tr_crw INNER JOIN ur ON tr_crw.ur_id=ur.ur_id where tr_id=#{tr_id}
    </select>

    <!--참석인원에 대한 숫자-->
    <select id="getTotalCount" parameterType="int" resultType="int">
        SELECT count(*) FROM tr_crw where tr_id=#{tr_id}
    </select>
</mapper>