<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bit.data.dao.MypageDao">
    <!--마이페이지 : 카페 북마크 수-->
    <select id="selectCfLkCnt" parameterType="int" resultType="int">
        SELECT count(*)
        FROM ur u
                 INNER JOIN cf_lk c ON (u.ur_id = c.ur_id)
        WHERE u.ur_id = #{loginId};
    </select>
    <!--마이페이지 : 작성한 리뷰 수-->
    <select id="selectCfCmtCnt" parameterType="int" resultType="int">
        SELECT count(*)
        FROM ur u
                 INNER JOIN cf_cmt c ON (u.ur_id = c.ur_id)
        WHERE u.ur_id = #{loginId};
    </select>
    <!--북마크 카페 리스트(카페아이디,카페명,카페주소)-->
    <select id="selectCfIdNm" parameterType="int" resultType="cfdto">
        SELECT c.cf_id, c.cf_nm, c.loc_addr
        FROM cf_lk cl
                 LEFT JOIN cf c
                           ON cl.cf_id = c.cf_id
                 LEFT JOIN ur u
                           ON cl.ur_id = u.ur_id
        WHERE u.ur_id = #{userId};
    </select>
    <!--북마크 카페 리스트(카페사진)-->
    <select id="selectCfLkCi" parameterType="int" resultType="cidto">
        SELECT ci.ci_nm
        FROM cf_img ci
                 LEFT JOIN cf c
                           ON ci.cf_id = c.cf_id
        WHERE c.cf_id = #{cfId};
    </select>
</mapper>